{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'books_App/master_css.css'%}">
    <title>Document</title>
</head>
<body>
    <section class="section-features">
        <div class="row">
            <h2>Help children, the easiest way</h2>
            <p class="long-copy">
                Hello, we're TiroHelper , your premium books delivery and donations service. As you
                 know you want to build the nation 
                a better place to live in, But might not be able to do  this all alone.
                 So let us take care of that in easiest way possible.
            </p>
        </div>
    </section>


    <section class="section-testimonials">
        <div class="row">
            <h2>How we work </h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <p class="long-copy">
                    We are TiroHelpers, We are an NGO working to make india a better place for every section of the society, 
                    if you have books that are waste for you , You can donate them to use.
                </p>
            </div>
            <div class="col span-1-of-3">
                <p class="long-copy">
                   We will collect those books from your doorstep, and will distribute them to the children who can't afford them.
                   We are working in close co-ordination with various NGO running acrosss dehradun. We try to help them as much as we can.
                </p>
            </div>
            <div class="col span-1-of-3">
                <p class="long-copy">
                    But without your help we can't do this on our own . Help us by becoming a part of the revolution.
                </p>
            </div>
        </div>
    </section>

    <section class="section-features">
        <div class="row">
            <h2>Thank you </h2>
            <p class="long-copy">
             You can be a part of our drives too,which are conducted every weekend at 11:00 am.
            </p>
        </div>
    </section>


</body>
</html>